/* Color scheme  #008fb9,#27ae60, #4A75E0*/



html {
    height: 100%;
}

header {
    background-color: #4A75E0;
    display: flex;
    margin: 0px;
    flex: 0 0 auto;
}

body {
    background-color: #f5f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

/* nav */
nav {
    margin-right: auto;
    display: flex;
    padding: 5px;
}

nav a {
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

nav a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

nav a:active {
    background-color: rgba(0, 0, 0, 0.404);
}

main {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100%;
    justify-content: center;
}

.home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.home-page a,
.home-page a:visited {
    color: black;
    text-decoration: none;
}


/* makes a white box around the writing in the links on home page and put writing in middle of the class */
.p-writing {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 0 0 3px 3px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #0E0E52;
    max-width: 100%;
}

.page {
    max-width: 100%;
    margin: 20px;
}




footer {
    background-color: #4A75E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 5px;
    flex: 0 0 60px;
}
